<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POL_EKO_TempMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <POL_EKO_TempMonitor.Properties.Settings>
            <setting name="ipAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>:8080</value>
            </setting>
            <setting name="interwal" serializeAs="String">
                <value>300000</value>
            </setting>
        </POL_EKO_TempMonitor.Properties.Settings>
    </userSettings>
</configuration>